.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media (max-width: 720px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
  }
}
